<header>
  eroku
  <a href="history">Our History</a>
  <a href="past_work">Past Work</a>
  <a href="staff">Current Employees</a>
  <a href="links">Links</a>
  <a href="contact">Contact Us</a>
</header>
