<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/contact.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
    </script>

  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <div id="container">
      <div id="description">
      <h1> Contact Us </h1>
        <h3> Email: marvel@marvel.com</h3>
        <h3> Phone: (777)-GO-MARVEL</h3>
        <h3>You can also contact us by leaving a message below with your name, email, and emergency situation. We will get back to you within 7 business days.</h3>
        <div id="information">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br><br>
        <div id="message">
        <textarea placeholder="Provide details of your emergency in 100 words or less"></textarea>
        <input type="submit" value="Submit" id="submit">
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
