<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
    </script>

  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <div id="container">
      <div id="description">
      <h1> Home </h1>
      <p>Welcome to Marvel Inc. As heros our mission is to protect the innocent and weak. We use our powers to protect humanity and its freedoms. We do this because it is the right thing to do; however, please don't hesitate to donate using the link below.</p>

        <a id="donate"> $$Donate Today$$</a>

      </div>
    </div>
  </body>
</html>
